@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========= ALL FONTS ========= */
/* SANS-SERIF */

/* IBM Plex Sans */
@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Light";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Medium";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype");
}

/* SERIF */

/* Cardo */
@font-face {
  font-family: "Cardo Regular";
  src: url("../fonts/Cardo/Cardo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cardo Bold";
  src: url("../fonts/Cardo/Cardo-Bold.ttf") format("truetype");
}

@layer base {
}

@layer components {
  /* NAVIGATION */
  .navlinks {
    @apply flex text-soft items-center justify-center w-24 lg:w-28 hover:bg-panel hover:text-dark;
  }
  .nl-active {
    @apply border-b-2 border-dark w-full absolute bottom-0;
  }
}
@layer utilities {
  .section-container {
    @apply container mx-auto px-4;
  }
  .gradientText {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
  .gradientButton {
    @apply w-28 py-1 border-2;
    border-image: linear-gradient(to right, #56b4d3, #80fb8d) 1;
  }
  .gradientBorder {
    border-image: linear-gradient(to right, #56b4d3, #80fb8d) 1;
  }
}

/* ========= Hamburger Button ========= */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  @apply bg-dark;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-top {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
