@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========= ALL FONTS ========= */
/* SANS-SERIF */

/* IBM Plex Sans */
@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Light";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Medium";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype");
}

/* SERIF */

/* Cardo */
@font-face {
  font-family: "Cardo Regular";
  src: url("../fonts/Cardo/Cardo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cardo Bold";
  src: url("../fonts/Cardo/Cardo-Bold.ttf") format("truetype");
}

@layer base {
}
@layer components {
  /* NAVIGATION */
  .navlinks {
    @apply flex text-soft items-center justify-center w-28 hover:bg-panel hover:text-dark;
  }
  .navlinks-active {
    @apply flex text-soft items-center justify-center w-28 hover:bg-panel hover:text-dark border-b-2;
  }
}
@layer utilities {
  .text-gradientPrimary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
  .gradientButton {
    @apply w-28 py-1 border-2;
    border-image: linear-gradient(to right, #80fb8d, #56b4d3) 1;
  }
}
